<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar" id="top-nav">
        <a class="navbar-brand">My Book Recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="section-title">Top 50 Books</h1>
            </div>

            {% for i in range(book_name|length) %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="book-image" src="{{ image[i] }}">
                            <p class="book-title small">{{ book_name[i] }}</p>
                            <h4 class="book-author">{{ author[i] }}</h4>
                            <div class="book-info">
                                <span class="book-votes">Votes - {{ votes[i] }}</span>
                                <span class="book-rating">Rating - {{ rating[i] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>
